.vscode/**
.vscode-test/**
typings/**
**/*.ts
**/*.map
out/**
node_modules/**
.gitignore
tsconfig.json
test/**
*.vsix
package-lock.json
webpack.config.js
**/.github/
**/.git/**
**/.git
**/.gitmodules
.devcontainer/
.gitpod.yml
testworkspace/
.vscode-test-env

# agents
AGENTS.md

# gh-pages
docs/index.html
docs/styles.css
docs/images/vscode-copy-word-in-action.gif
docs/images/vscode-copy-word-commands.png